{% extends 'base.html' %}

{% block main %}

<div class="container mb-5 mt-5">
    <div class="row justify-content-center">
        <div class="col-8">
            <div class="card">
                <img src="{{ blog.image.url }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h3 class="card-title">{{ blog.title }}</h3>
                    <h5 class="card-title"> {{ blog.content }}</h5>
                    <p class="card-text">{{ blog.summary }}</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Time Create: {{ blog.time_create}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>


{% endblock main %}